body {
  background-image: url(Images/BACKGROUND.png);
}

section {
  background-color: white;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 1rem;
}

h1,
p {
  text-align: center;
}

.splashimage {
  padding: 80px;
}

a {
  text-align: center;
}

.download {
  margin-left: 480px;
  margin-bottom: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}

.jogo {
  background-repeat: repeat;
}

.fieldset_titulo {
  margin-top: 20px;
  background-color: white;
}

fieldset {
  border-radius: 1rem;
}

header {
  font-size: 50px;
}

.social_media_div {
  margin-left: 350px;
  margin-top: 20px;
}

.social_media_fieldset {
  width: 227px;
}

.social_media {
  color: rgb(0, 0, 0);
  font-size: 64%;
  text-decoration: none;
}

.social_media:hover {
  color: rgb(50, 50, 50);
}

footer {
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
}

button:active {
  transform: translateY(5px);
}
