body {
  background-image: url(Images/BACKGROUND.png);
}

section {
  background-color: white;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 1rem;
}

h1,
p {
  text-align: center;
}

.head {
  font-size: 30px;
}

.splashimage {
  padding: 80px;
}

a {
  text-align: center;
}

.download {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-left: 440px;
  margin-bottom: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}

.jogo1 {
  background-image: url(Images/NINJA-CUBE_BACKGROUND.png);
  background-repeat: repeat;
}

.jogo2 {
  background-image: url("Images/DUNGEON_BACKGROUND.png");
  background-repeat: repeat;
}

.fieldset_titulo {
  margin-top: 20px;
  background-color: white;
}

fieldset {
  border-radius: 1rem;
}
