body {
  background-color: blue;
}

section {
  background-color: white;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

h1,
p {
  text-align: center;
}

.head {
  font-size: 30px;
}

.splashimage {
  padding: 80px;
}

a {
  text-align: center;
}

.download {
  max-width: 40px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}

.jogo {
  background-image: url("C:\Users\arthu\OneDrive\Área de Trabalho\VS\Ninja-Cube_Background.png");
  background-repeat: repeat-x, repeat-y;
}
